{
    "secret": "KJie982jlOAi2fa93", 
    "log_level": 20, 
    "logfile_path": "/var/log", 
    "host": "your host ip", 
    "port": 9999, 
    "pidfile_path": "/var/run",
    "lastip_path": "/tmp",
    "domain": "mush.space",
    "sub_domain": "",
    "token_id": "",
    "token_": "",
    "nginx_conf_path": "/etc/nginx/conf.d"
}
