[Unit]
Description=dynamic_dns_server Daemon
Wants=network.target
After=syslog.target network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/home/mush/code
PIDFile=/var/run/dynamic-dns-agent.pid
ExecStart=/home/mush/code/dynamic_dns_agent.py
StandardOutput=syslog
ExecStop=/bin/kill -15 $MAINPID
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
